{% extends "base_layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form action="/auth/login" method="POST">
        {{ form.email.label }} {{ form.email() }} <br />
        {{ form.password.label }} {{ form.password() }} <br />
        {{ form.remember_me.label }} {{ form.remember_me() }} <br />
        {{ form.submit() }}
        {{ form.csrf_token }}
      </form>
        <br /><br />
        <p>Forgot your password? <a href="{# #url_for('auth.password_reset_request') #}">Click here to reset it</a>.</p>
        <p>New user? <a href="{# #url_for('auth.register') #}">Click here to register</a>.</p>
    </div>
    <div class="col-md-4"></div>
{% endblock %}