{% extends "base_layout.html" %}

{% block title %}
  Datapir
{% endblock %}
    
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="logo"><img src="/static/img/logo-lg.png" class="img-responsive"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="welcome">
          <p>&nbsp;</p>
          <p>Thank you for registering with us for early access.</p>
          <p>Datapir is nearly ready to begin it's public beta program and you will recieve login information at that time, welcome aboard!</p>
        </div>
          <p>&nbsp;</p>
      </div>
    </div>

  </div>

{% endblock %}
