{% extends "base_layout.html" %}

{% block title %}
  Datapir
{% endblock %}
    
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="logo"><img src="/static/img/logo-lg.png" class="img-responsive"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="message">
          <p>Datapir is revolutionizing how you collect and access data. <em>Sign up today for early access:</em></p>
        </div>
        
        <div class="beta-request-form">
          <form action="/beta_registration" method="POST" class="form-inline" accept-charset="UTF-8">
            <div class="form-group">
              {{ form.csrf_token }}
              {{ form.email(id='email-field', class_="form-control", placeholder="email@example.com") }}
            </div>
            {{ form.submit(class_="btn btn-primary btn-default") }}
          </form>

        </div>

      </div>
    </div>

  </div>

{% endblock %}
